Makefile*
include/*
*.obj
*.pdb
*.res
*.manifest
*_resource.rc
.qmake.cache
config.log
src/v8/qtv8version.h
src/v8/debug/
src/v8/generated-debug/
src/v8/release/
src/v8/generated-release/
tests/auto/cmake/build
